
h1= title
p Thank you for your interest in my app, LastFirst.

h2 Rules
ul
  li Post HIRAGANA against the last post, like from `しりとり' to 'りんご'.
  li You can post only to the someone's post.
  li If you get a penalty, you cannot post for about an hour.
h2 About authenticate with Google
p I request you to auth with Google. The purposes are:
ul
  li to confirm that you are a human being.
  li to know which post is your's.
p In this app, basically I don't show your info to someone. However, when you authenticate, I can reach some of your information (even if I won't use it). If you're not willing to that, don't authenticate.
