

script
  head.ready('classes', function () {
    time = new TimeComponent()
    time.render()
    time.attachElement("#yeah", Date.now())
    time.attachElement("#yeash", Date.now() - 20000000)
  });

br
div#yeah(style="width:200px;background:#000;") aaa

br
div#yeash(style="width:200px;background:#000;") aaa

style
  .inline-block {display: inline-block; padding: 10px;}
  .true {background-color: #3f3;}

br
.time
  .time-arrow
  .time-bg
    .time-round.clearfix
      .time-label
        .time-label-twelve 12
        .time-label-three 3
        .time-label-six 6
        .time-label-nine 9
      .time-tick
        .time-tick-short
        .time-tick-long
      .time-tick-center
    .time-title 
      .time-title-content aa>ee

div.inline-block
  script
    var s = 'あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよゃゅょらりるれろわをんがぎぐげござじずぜぞだぢづでどばびぶべぼぱぴぷぺぽー';
    document.write('/^[あ-ん|ー]+$/');
    var a = s.split('');
    var result = null;

    document.write('<table border="1">');
    for (var i=0; i<a.length; i++) {
      result = /[あ-ん|ー]/.test(a[i]);
      document.write('<tr><th>' + a[i] + '</th><td class="' + result + '">' + result + '</td></tr>');
    }
    document.write('</table>');


div.inline-block
  script
    document.write('/^[ゃ-ょ]+$/');
    var result = null;

    document.write('<table border="1">');
    for (var i=0; i<a.length; i++) {
      result = /[ゃ-ょ]/.test(a[i]);
      document.write('<tr><th>' + a[i] + '</th><td class="' + result + '">' + result + '</td></tr>');
    }
    document.write('</table>');


div.inline-block
  script
    document.write('/^[ゃゅょ]+$/');
    var result = null;

    document.write('<table border="1">');
    for (var i=0; i<a.length; i++) {
      result = /[ゃゅょ]/.test(a[i]);
      document.write('<tr><th>' + a[i] + '</th><td class="' + result + '">' + result + '</td></tr>');
    }
    document.write('</table>');

