!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://www.google.com/jsapi?key=ABQIAAAAr-Cx3wzTD_6B2XuJpn-M5xTJQa0g3IQ9GZqIMmInSLzwtGDKaBTvG9Zrc-usz3rywefs092_UQbBRw')
    script
      // module loading
      google.load('search', '1')
      google.load('jquery', '1.7.1')
    script(src='/javascripts/my.js')
    body!= body
