!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/head.load.min.js')
    script
      head.js('/socket.io/socket.io.js'
            , '/javascripts/underscore-min.js'
            , '/javascripts/jquery-1.7.min.js'
            , '/javascripts/utils.js'
            , '/javascripts/classes.js'
            , '/javascripts/init.js')
    - if (isProduction)
      include google-analytics
  body!= body
