!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/jquery-1.7.min.js')
    script(src='/javascripts/my.js')
    - if (isProduction)
      include google-analytics
  body!= body
