
/* field-grid.styl */

/*
 Can't I use them in media-query declaration?
 windowSizeMin = 750px
 windowSizeMid = 750px
 windowSizeMax = 750px
*/

itemWidth = 190px
itemHeight = 240px
itemHorizontalMargin = 30px

HUNDRED_PERCENT = 100%


.word-list 
  position relative
  margin 38px auto
  clear both
  margin-left itemHorizontalMargin
  margin-right itemHorizontalMargin


.word
  position absolute
  text-align center
  width itemWidth
  transition top .4s, left .4s
  &:nth-child(1)
    cursor: pointer
  &:nth-child(1):hover
    opacity: .8

  & .inner
    position absolute
    width itemWidth
    height itemHeight
    left (HUNDRED_PERCENT / -2)
  & .image
    border-radius (itemWidth / 2)
    overflow hidden
  & .label
    line-height 1.6

.your-post
  & .titleElm::before
    content: '* '





blankElmBorderWidth = 3px

.word-blank
  opacity 1
  transition none
  cursor pointer
  & .image
    height itemWidth - (blankElmBorderWidth * 2)
    border blankElmBorderWidth #ccc dashed

.not-logged-in #post-form
  display none
.logged-in .please-login
  display none











/* TODO: Use stylus iterator */
@media only screen and (max-width: 749px)
  .word:nth-child(1)
  .word:nth-child(2)
    top 0
  .word:nth-child(3)
  .word:nth-child(4)
    top itemHeight
  .word:nth-child(5)
  .word:nth-child(6)
    top itemHeight * 2
  .word:nth-child(7)
  .word:nth-child(8)
    top itemHeight * 3
  .word:nth-child(9)
  .word:nth-child(10)
    top itemHeight * 4
  .word:nth-child(11)
  .word:nth-child(12)
    top itemHeight * 5

  half = (HUNDRED_PERCENT / 2)
  quoter = (half / 2)
  .word:nth-child(2n-1)
    left half + quoter
  .word:nth-child(2n)
    left quoter

@media only screen and (min-width: 750px) and (max-width: 999px)
  .word:nth-child(1)
  .word:nth-child(2)
  .word:nth-child(3)
    top 0
  .word:nth-child(4)
  .word:nth-child(5)
  .word:nth-child(6)
    top itemHeight
  .word:nth-child(7)
  .word:nth-child(8)
  .word:nth-child(9)
    top itemHeight * 2
  .word:nth-child(10)
  .word:nth-child(11)
  .word:nth-child(12)
    top itemHeight * 3

  half = (HUNDRED_PERCENT / 3)
  quoter = (half / 2)
  .word:nth-child(3n-2)
    left (half * 2) + quoter
  .word:nth-child(3n-1)
    left half + quoter
  .word:nth-child(3n)
    left quoter

@media only screen and (min-width: 1000px)
  .word:nth-child(1)
  .word:nth-child(2)
  .word:nth-child(3)
  .word:nth-child(4)
    top 0
  .word:nth-child(5)
  .word:nth-child(6)
  .word:nth-child(7)
  .word:nth-child(8)
    top itemHeight
  .word:nth-child(9)
  .word:nth-child(10)
  .word:nth-child(11)
  .word:nth-child(12)
    top itemHeight * 2

  half = (HUNDRED_PERCENT / 4)
  quoter = (half / 2)
  .word:nth-child(4n-3)
    left (half * 3) + quoter
  .word:nth-child(4n-2)
    left (half * 2) + quoter
  .word:nth-child(4n-1)
    left half + quoter
  .word:nth-child(4n)
    left quoter


