
/* style.styl */

@import 'nib'
@import './lib/extention'
global-reset()



BG_DARK = #222
FONT_COLOR_ON_DARK = #fff



@font-face
  font-family: 'Dingbats2SamplerOT'
  src: url('Dingbats2SamplerOT.otf') format('opentype')
.i
  font-family: 'Dingbats2SamplerOT'

html
body
.wrapper
  height 100%
body
  overflow-x hidden
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF



// #msg-box
//   position: fixed
//   top: 2px
//   right: 2px
// 
// #msg-box .msg
//   display: inline-block
//   padding: 4px 10px
//   border-color: #ccc #999 #999 #ccc
//   border-style: solid
//   border-width: 1px
//   background-color: #e9e9e9
//   box-shadow: 2px 2px 4px rgba(0,0,0,.2)
//   cursor: pointer
// 
// #msg-box .msg:hover
//   background-color: #fff
// 
// #msg-box .important
//   border: 1px outset #FFCCCC
//   background-color: #f33
//   color: #fff
// 
// #msg-box .important:hover
//   background-color: #f99
//   color: #fff

#post-form #indicator
  vertical-align: middle

.loading
  background: url(/images/loading.gif) scroll 0 0 no-repeat

.warn
  color: #f99

.like
  color: #ccc
  cursor: pointer

.like:hover
  color: #e3e3e3

.liked
  color: #f33


@import time


.toolbar
  clearfix()
  box-shadow-depth()
  padding 0 10px
  background-color BG_DARK
  line-height 28px
  & a
    color #fff
    text-decoration none
  & a:hover
    text-decoration underline

  & .logo
    float left
    font-weight bold
    margin-right 8px
  & .buttons
    float right
    & a
      margin-left 8px
  & .message
    overflow ellipsis
    & .msg-important
      padding 2px 1px
      background-color #f22
    & .msg-general
      color: #fff


@import field-grid



