
@import 'nib'
@import './lib/extention'

@font-face
  font-family: 'Dingbats2SamplerOT'
  src: url('Dingbats2SamplerOT.otf') format('opentype')


global-reset()



h1
  display: block
  font-size: 2em
  margin-top: 0.67em
  margin-bottom: 0.67em
  font-weight: bold

p
  display: block
  margin-top: 1em
  margin-bottom: 1em

html
body
.wrapper
  height 100%
body
  overflow-x hidden
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#msg-box
  position: fixed
  top: 2px
  right: 2px

#msg-box .msg
  display: inline-block
  padding: 4px 10px
  border-color: #ccc #999 #999 #ccc
  border-style: solid
  border-width: 1px
  background-color: #e9e9e9
  box-shadow: 2px 2px 4px rgba(0,0,0,.2)
  cursor: pointer

#msg-box .msg:hover
  background-color: #fff

#msg-box .important
  border: 1px outset #FFCCCC
  background-color: #f33
  color: #fff

#msg-box .important:hover
  background-color: #f99
  color: #fff

#post-form #indicator
  vertical-align: middle

.loading
  background: url(/images/loading.gif) scroll 0 0 no-repeat

.i
  font-family: 'Dingbats2SamplerOT'

.warn
  color: #f99

.like
  color: #ccc
  cursor: pointer

.like:hover
  color: #e3e3e3

.liked
  color: #f33

.time
  position: absolute
  z-index: 9999
  transition top .2s, left .2s

.time-arrow,
.time-bg
  display: inline-block
  vertical-align: bottom

.time-bg
  box-shadow: 2px 2px 2px rgba(0,0,0,.3)

.time-arrow
  display: inline-block
  border-right: 7px solid #ccc
  border-top: 15px solid transparent
  border-bottom: 15px solid transparent

.time-bg
  position: relative
  height: 30px
  background-color: #ccc
  border-radius: 0 50px 50px 0
  width: 82px

.time-round
  position: relative
  width: 0
  float: left
  margin: 3px 0 0 0
  border-style: solid
  border-color: #fff
  border-width: 12px
  border-radius: 12px

.time-label div
  position: absolute
  text-indent: -.25em
  transform-origin left top
  transform scale(.4,.4)

.time-label .time-label-twelve
  text-indent: -.6em
  top: -11px

.time-label .time-label-six
  top: 4px

.time-label .time-label-three
  top: -3px
  left: 8px

.time-label .time-label-nine
  top: -3px
  left: -8px

.time-tick
  position: absolute
  bottom: 0
  left: 0
  margin: 3px 0 0 0
  width: 0
  height: 14px

.time-tick div
  position: absolute
  left: -1.5px
  bottom: 0
  width: 3px
  border-radius: 50px
  background-color: #f33
  -moz-transition: -moz-transform .4s linear
  -webkit-transition: -webkit-transform .4s linear
  -moz-transform-origin: center bottom
  -webkit-transform-origin: center bottom

.time-tick-short
  height: 9px

.time-tick-long
  height: 11px

.time-tick-center
  position: absolute
  background-color: #fff
  top: -2px
  left: -2px
  border: 1px #f33 solid
  border-radius: 50px
  width: 3px
  height: 3px

.time-title
  display: table
  padding: 0 0 0 2px
  height: 30px
  font-size: 73%

.time-title-content
  display: table-cell
  vertical-align: middle
  line-height: 1.2

.time-title-nice
  color: #777






.toolbar
  clearfix()
  padding 0 10px
  background-color #222
  line-height 28px
  & a
    color #fff
    text-decoration none
  & a:hover
    text-decoration underline

  & .logo
    float left
    font-weight bold
    margin-right 8px
  & .buttons
    float right
    & a
      margin-left 8px
  & .message
    background #f22
    overflow ellipsis

.wrapper 
  position relative
  margin 38px auto
  clear both



// @media only screen and (min-width: 801px)

windowSizeMin = 750px
windowSizeMid = 750px
windowSizeMax = 750px
itemWidth = 190px
itemHeight = 240px

.wrapper
  margin-left 30px
  margin-right 30px



.item
  position absolute
  text-align center
  width itemWidth
  transition top .4s, left .4s
  & .inner
    position absolute
    height itemHeight
    left -50%
  & .image
    border-radius (itemWidth / 2)
    overflow hidden
    


@media only screen and (max-width: 749px)
  .item:nth-child(1)
  .item:nth-child(2)
    top: 0
  .item:nth-child(3)
  .item:nth-child(4)
    top: itemHeight
  .item:nth-child(5)
  .item:nth-child(6)
    top: itemHeight * 2
  .item:nth-child(7)
  .item:nth-child(8)
    top: itemHeight * 3
  .item:nth-child(9)
  .item:nth-child(10)
    top: itemHeight * 4
  .item:nth-child(11)
  .item:nth-child(12)
    top: itemHeight * 5

  half = (100% / 2)
  quoter = (half / 2)
  .item:nth-child(2n-1)
    left: half + quoter
  .item:nth-child(2n)
    left: quoter

@media only screen and (min-width: 750px) and (max-width: 999px)
  .item:nth-child(1)
  .item:nth-child(2)
  .item:nth-child(3)
    top: 0
  .item:nth-child(4)
  .item:nth-child(5)
  .item:nth-child(6)
    top: itemHeight
  .item:nth-child(7)
  .item:nth-child(8)
  .item:nth-child(9)
    top: itemHeight * 2
  .item:nth-child(10)
  .item:nth-child(11)
  .item:nth-child(12)
    top: itemHeight * 3

  half = (100% / 3)
  quoter = (half / 2)
  .item:nth-child(3n-2)
    left: (half * 2) + quoter
  .item:nth-child(3n-1)
    left: half + quoter
  .item:nth-child(3n)
    left: quoter

@media only screen and (min-width: 1000px)
  .item:nth-child(1)
  .item:nth-child(2)
  .item:nth-child(3)
  .item:nth-child(4)
    top: 0
  .item:nth-child(5)
  .item:nth-child(6)
  .item:nth-child(7)
  .item:nth-child(8)
    top: itemHeight
  .item:nth-child(9)
  .item:nth-child(10)
  .item:nth-child(11)
  .item:nth-child(12)
    top: itemHeight * 2

  half = (100% / 4)
  quoter = (half / 2)
  .item:nth-child(4n-3)
    left: (half * 3) + quoter
  .item:nth-child(4n-2)
    left: (half * 2) + quoter
  .item:nth-child(4n-1)
    left: half + quoter
  .item:nth-child(4n)
    left: quoter


