
/* style.styl */

@import 'nib'
@import './lib/extention'
global-reset()



// Common variables.
BG_DARK = #222
FONT_COLOR_ON_DARK = #fff
HUNDRED_PERCENT = 100%



// General setting.
@font-face
  font-family: 'Dingbats2SamplerOT'
  src: url('Dingbats2SamplerOT.otf') format('opentype')
.i
  font-family: 'Dingbats2SamplerOT'
html
body
.wrapper
  height 100%
body
  overflow-x hidden
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color #555
a
  color: #00B7FF



#post-form #indicator
  vertical-align: middle

.loading
  background: url(/images/loading.gif) scroll 0 0 no-repeat

.warn
  color: #f99

.like
  color: #ccc
  cursor: pointer

.like:hover
  color: #e3e3e3

.liked
  color: #f33

.google-branding
  position fixed
  left 0
  bottom 0
  padding 2px 4px
  border-radius 0 4px 0 0
  background-color #fff
  background-color rgba(255,255,255,.8)
  font-size 74%
  & img
    vertical-align bottom

@import time

@import toolbar



itemWidth = 190px
itemHeight = 240px
itemHorizontalMargin = 30px

@import field-grid

@import word


