
timeBackgroundColor = BG_DARK

.time
  position: absolute
  z-index: 9999
  transition top .2s, left .2s

.time-arrow,
.time-bg
  display: inline-block
  vertical-align: bottom

.time-bg
  box-shadow-depth(2)

.time-arrow
  display: inline-block
  border-right: 7px solid timeBackgroundColor
  border-top: 15px solid transparent
  border-bottom: 15px solid transparent

.time-bg
  position: relative
  height: 30px
  background-color: timeBackgroundColor
  border-radius: 0 50px 50px 0
  width: 82px

.time-round
  position: relative
  width: 0
  float: left
  margin: 3px 0 0 0
  border-style: solid
  border-color: #fff
  border-width: 12px
  border-radius: 12px

.time-label div
  position: absolute
  text-indent: -.25em
  transform-origin left top
  transform scale(.4,.4)

.time-label .time-label-twelve
  text-indent: -.6em
  top: -11px

.time-label .time-label-six
  top: 4px

.time-label .time-label-three
  top: -3px
  left: 8px

.time-label .time-label-nine
  top: -3px
  left: -8px

.time-tick
  position: absolute
  bottom: 0
  left: 0
  margin: 3px 0 0 0
  width: 0
  height: 14px

.time-tick div
  position: absolute
  left: -1.5px
  bottom: 0
  width: 3px
  border-radius: 50px
  background-color: #f33
  -moz-transition: -moz-transform .4s linear
  -webkit-transition: -webkit-transform .4s linear
  -moz-transform-origin: center bottom
  -webkit-transform-origin: center bottom

.time-tick-short
  height: 9px

.time-tick-long
  height: 11px

.time-tick-center
  position: absolute
  background-color: #fff
  top: -2px
  left: -2px
  border: 1px #f33 solid
  border-radius: 50px
  width: 3px
  height: 3px

.time-title
  display: table
  padding: 0 0 0 2px
  height: 30px
  font-size: 73%

.time-title-content
  display: table-cell
  vertical-align: middle
  line-height: 1.2

.time-title-nice
  color: #777

.time-title-digits
  color #fff
