
/* word.styl */


.word-list 
  position relative
  margin 38px auto
  clear both
  margin-left itemHorizontalMargin
  margin-right itemHorizontalMargin



.word
  position absolute
  text-align center
  width itemWidth
  transition top .4s, left .4s

  &.last-post .titleElm
    animation anime1 1.4s linear .8s 10 alternate

  & .inner
    position absolute
    width itemWidth
    height itemHeight
    left (HUNDRED_PERCENT / -2)
  & .image
    border 1px #ccc solid
    width itemWidth - 2px
    height itemWidth - 2px
    border-radius (itemWidth / 2)
    overflow hidden
    color #ccc
    font-weight bold
    text-align center
    background transparent center center no-repeat
    line-height itemWidth
    &.loading
      background-image url(/images/loading_l.gif) 
      & .image-inner
      & .image-inner:hover
        opacity .2
    & .image-inner
      border-radius (itemWidth / 2)
      background transparent center center no-repeat
      display block
      widht HUNDRED_PERCENT
      height HUNDRED_PERCENT
      line-height itemWidth*1.7
      font-size 65%
      text-align left
      text-indent 4em
      color #ddd
      color rgba(255,255,255,.7)
      text-decoration none
      transition opacity .15s
      &:hover
        opacity .8
  & .label
    line-height 1.6
    & .titleElm
      cursor pointer
      padding 1px 3px
      border-radius 3px
      &:hover
        text-decoration underline

.your-post
  & .titleElm::before
    content: '*'


blankElmBorderWidth = 3px

.word-blank
  transition none
  cursor pointer
  & .image
    height itemWidth - (blankElmBorderWidth * 2)
    border blankElmBorderWidth #ccc dashed
    & .image-inner
      &:hover
        opacity 1
  & input[type=text]
    width 8em
    margin 2px auto
    box-shadow none
    border none
    text-align center
    background-color #f3f3f3
    &:focus
      background-color #ececec
.blank-word-google-branding
  color #999
  font-size 64%
  & img
    vertical-align bottom

.not-logged-in #post-form
  display none
.logged-in .please-login
  display none


@keyframes anime1
  50%
    color #fff
